@model string

@section Styles {
    <bundle name="wwwroot/bundles/css/login.bundle.css" />
}

<div class="planning-poker-login-container planning-poker-backgroud-cell">
    <div class="planning-poker-login-form-wrapper">
        <div class="mb-3">Представьтесь, пожалуйста</div>
        <form asp-action="Login">
            <div class="input-group mb-3">
                <input type="hidden" name="redirectUrl" value="@Model" />
                <input type="text" name="userName" class="form-control" placeholder="Имя пользователя">
                <button class="btn btn-primary" type="submit">Войти</button>
            </div>
        </form>
    </div>
</div>
