.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.planning-poker-gamers-zone-wrapper {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 520px;
    bottom: 210px;
    overflow-y: auto;
    padding: 10px;
}

.planning-poker-gamers-zone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    border: 1px groove lightgray;
}

.planning-poker-tasks-zone-wrapper {
    position: absolute;
    width: 500px;
    top: 40px;
    right: 0;
    bottom: 200px;
    overflow-y: auto;
    padding: 10px;
}

.planning-poker-tasks-zone {
}

.planning-poker-card {
    display: flex;
    width: 120px;
    height: 150px;
    border-radius: 7px;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.planning-poker-card-color-green {
    background-color: #68c35b;
    color: white;
}

.planning-poker-card-color-yellow {
    background-color: #969a35;
    color: white;
}

.planning-poker-card-color-red {
    background-color: #c35b5b;
    color: white;
}

.planning-poker-card-color-gray {
    background-color: gray;
    color: white;
    font-size: 50px;
}

.planning-poker-card-clickable {
    cursor: pointer;
    transform: translateY(0) rotate(0);
    transition-duration: 300ms;
}

.planning-poker-card-selected {
    transform: translateY(-80px) rotate(-5deg);
    transition-duration: 500ms;
}

.planning-poker-gamer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planning-poker-gamer-name {
    width: 150px;
    word-wrap: break-word;
    text-align: center;
}
