#planning-poker-connection-lost-locker {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.4);
    backdrop-filter: blur(10px);
    display: none;
}

#planning-poker-connection-lost-banner-wrapper {
    position: fixed;
    width: 400px;
    height: 300px;
    background-color: whitesmoke;
    top: calc(50% - 150px);
    left: calc(50% - 200px);
    border-radius: 30px;
    padding: 30px;
}

#planning-poker-connection-lost-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}

#planning-poker-gamer-card-zone {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    display: flex;
    gap: 20px;
    padding: 10px;
}

.planning-poker-gamers-zone-wrapper {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 570px;
    bottom: 210px;
    overflow-y: auto;
    padding: 10px;
}

.planning-poker-gamers-zone {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    border: 1px groove lightgray;
}

.planning-poker-tasks-zone-wrapper {
    position: absolute;
    width: 550px;
    top: 40px;
    right: 0;
    bottom: 200px;
    overflow-y: auto;
    padding: 10px;
}

.planning-poker-card {
    display: flex;
    width: 120px;
    height: 150px;
    border: 1px solid lightgray;
    border-radius: 7px;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.planning-poker-card-color-green {
    background-color: forestgreen;
    color: white;
}

.planning-poker-card-color-yellow {
    background-color: #a8ae26;
    color: white;
}

.planning-poker-card-color-red {
    background-color: #c35b5b;
    color: white;
}

.planning-poker-card-color-gray {
    background-color: gray;
    color: white;
    font-size: 50px;
}

.planning-poker-card[card-state='voted'] {
    background-color: cadetblue;
    color: white;
}

    .planning-poker-card[card-state='voted']::after {
        content: "\f26e";
        font-family: "bootstrap-icons";
    }

.planning-poker-card[card-state='unvoted'] {
    background-color: white;
    color: black;
}

    .planning-poker-card[card-state='unvoted']::after {
        content: "\f293";
        font-family: "bootstrap-icons";
        color: gray;
    }

.planning-poker-card[card-state='openned'] {
    background-color: cadetblue;
    color: white;
}

.planning-poker-card-clickable {
    cursor: pointer;
    transform: translateY(0) rotate(0);
    transition-duration: 300ms;
}

.planning-poker-card-selected {
    transform: translateY(-80px) rotate(-5deg);
    transition-duration: 500ms;
}

.planning-poker-gamer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.planning-poker-gamer-name {
    width: 150px;
    word-wrap: break-word;
    text-align: center;
}

#planning-poker-tasks-zone {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.planning-poker-tasks-zone-task {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    border-bottom: 1px solid lightgray;
    padding: 5px;
    cursor: pointer;
}

    .planning-poker-tasks-zone-task[active="true"] {
        font-weight: bold;
        color: blue;
        cursor: default;
    }

#planning-poker-tasks-zone-task-header {
    margin-bottom: 20px;
    font-size: 24px;
}

.planning-poker-tasks-zone-task-name {
    word-wrap: anywhere;
    margin-right: 10px;
}

.planning-poker-tasks-zone-task-score {
    width: auto;
}

.planning-poker-buttons-zone-wrapper {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    height: 40px;
    padding: 2px 10px;
}

.planning-poker-buttons-zone {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    height: 100%;
    justify-content: space-between
}

.planning-poker-d-none {
    display: none;
}
