@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - PlanningPoker</title>

    <bundle name="wwwroot/bundles/css/libraries.bundle.css" />
    <bundle name="wwwroot/bundles/css/common.bundle.css" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
        <div class="planning-poker-username-area">
            @{
                var userName = User.Identity.Name;

                if (userName != null)
                {
                    <div>@userName</div>
                    <a asp-action="Logout" asp-controller="Authorization" asp-route-redirectUrl="@HttpContextAccessor.HttpContext.Request.Path" id="planning-poker-logout-button" class="btn btn-sm btn-secondary shadow-none">Выход</a>
                }
            }
        </div>
    </header>

    <div class="planning-poker-body-wrapper planning-poker-backgroud-cell">
        @RenderBody()
    </div>

    <bundle name="wwwroot/bundles/js/libraries.bundle.js" />
    <bundle name="wwwroot/bundles/js/common.bundle.js" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
