@using PlanningPoker.Entities.Enums;
@using PlanningPoker.Utils.Extensions;

@model GameProgressViewModel

@{
    ViewData["Title"] = "Покер-планирование";
}

@section Styles {
    <bundle name="wwwroot/bundles/css/gamePage.bundle.css" />
}

@section Scripts {
    <bundle name="wwwroot/bundles/js/gameProcess.bundle.js" />
}

<input type="hidden" id="planning-poker-game-id" value="@Model.GameId" />
<input type="hidden" id="planning-poker-user-id" value="@Model.UserId" />

<div class="planning-poker-buttons-zone-wrapper">
    <div class="planning-poker-buttons-zone">
        <div class="planning-poker-button-group">
            <button class="btn btn-sm btn-primary planning-poker-button" id="planning-poker-spectate-button">Стать набдюдателем</button>
            <button class="btn btn-sm btn-success planning-poker-button" id="planning-poker-join-game-button">Вступить в игру</button>
        </div>
        <div class="planning-poker-button-group">
            <button class="btn btn-sm btn-primary planning-poker-button" id="planning-poker-start-game-button">Начать оценку</button>
            <button class="btn btn-sm btn-primary planning-poker-button" id="planning-poker-open-cards-button" disabled>Показать карты</button>
            <button class="btn btn-sm btn-primary planning-poker-button" id="planning-poker-score-next-button">Перейти к следующей задаче</button>
            <button class="btn btn-sm btn-warning planning-poker-button" id="planning-poker-rescore-button">Оценить заново</button>
        </div>
    </div>
</div>

<div class="planning-poker-gamers-zone-wrapper">
    <div class="planning-poker-gamers-zone">
@*         <div class="planning-poker-gamer-score" my-card="true" user-id="@User.GetUserId()">

            <div class="planning-poker-card" card-state="unvoted">
            </div>

            <div class="planning-poker-gamer-name">
                @User.Identity.Name
            </div>

        </div> *@
    </div>
</div>

<div class="planning-poker-tasks-zone-wrapper">

    <div id="planning-poker-tasks-zone-task-header">
    </div>

    <div id="planning-poker-tasks-zone">
    </div>
</div>

<div id="planning-poker-gamer-card-zone">
</div>


<div id="planning-poker-connection-lost-locker">
    <div id="planning-poker-connection-lost-banner-wrapper">
        <div id="planning-poker-connection-lost-banner">
            <span class="mb-5">Потеряно соединение с сервером. Восстанавливаю...</span>
            <img src="~/Content/images/loader.svg" />
        </div>
    </div>
</div>
