<div class="planning-poker-create-game-container">
    <form asp-action="CreateGame" asp-controller="Home">
        <div class="d-flex flex-column align-items-center">
            <div class="mb-3">
                <input type="text" />
            </div>
            <div>
                <button type="submit" class="btn btn-success shadow-none">Создать игру</button>
            </div>
        </div>
    </form>
</div>
