@model string

<form asp-action="Login">
    <input type="hidden" name="redirectUrl" value="@Model" />
    <input type="text" name="userName" placeholder="Имя пользователя" />
    <input type="submit" class="btn btn-primary" value="Войти" />
</form>
